<!DOCTYPE>
<html>
 <%= stylesheet_link_tag 'snosotros', media: 'all', 'data-turbolinks-track' => true %>
<head>
<link rel="icon" type="image/png" href="images/yourcode.png" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Sobre nosotros</title>
<meta http-equiv=”Content-Type” content=”text/html; charset=iso-8859-2″>
</head>
<body>

 <body background="<%= asset_path 'fondo.jpg'%>">
</body>

    <div id="MainContainer">
    <br><h1> <center><strong>YourCode</strong></center></h1></br>

     <br><h4 style="text-align: justify;">Es una empresa que nace con el fin de cubrir una necesidad a los clientes, además de ayudarles a mejorar sus negocios o empresas, así mismo nos ayudan a nosotros a crecer como empresa, ofreciendo cada vez, productos de mejor calidad así como el mejorar constantemente para nuestros clientes y así mismo mejorar como empresa</h4></br>
    </div>
</body>
</html>